html, body, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, form, input, img, p, i, span {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
    display: block;
}

ul, li, ol {
    list-style: none;
}

body {
    font: 12px/1.5 "微软雅黑";
    background-color: #f0f0f0;
}

i {
    font-style: normal;
}

/*html{
	font-size: 100px;
}
body{
	font-size: 0.14rem;
}*/

/*头部公共样式开始部分*/
.index_title {
    width: 1160px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    color: #666666;
}

.title_left {
    float: left;
}

.title_right {
    float: right;
}

.title_right a {
    color: #666666;
}

.title_right2 {
    float: right;
}

.title_right2 a {
    color: #666666;
}

._logo {
    width: 100%;
    height: 56px;
    border-top: 1px solid #e1e1e1;
    background-color: #f0f0f0;
}

._logo .imgbox {
    width: 1160px;
    height: 56px;
    margin: 0 auto;
    background: url(../images/index/logo.jpg) no-repeat 0;
    background-size: 26%;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #3385ff;
}

nav ul {
    width: 1160px;
    margin: 0 auto;
}

nav ul li {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

nav ul li:hover {
    background-color: #1072e5;
}

nav ul li a {
    display: block;
    background: url(../images/index/nav_1.jpg) no-repeat right;
    font-size: 14px;
    color: #fff;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

/*当前页面导航栏样式*/
.this_nav {
    background-color: #1072e5;
}

/*详情页当前位置样式*/
#position {
    width: 1160px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}

/*详情页中间内容，共同部分*/

article {
    width: 1160px; /*74%*/
    border-top: 1px solid #e1e1e1;
    margin: 0 auto;
    margin-bottom: 2%;
}

.panel-body {
    min-height: 500px;
}

.tabs-container .tabs-left > .nav-tabs li {
    background-color: #fff;
}

.tabs-container .tabs-left > .nav-tabs li a.venue_a {
    background-color: #cbe0ff;
    border-left: 4px solid #b0c1d9;
    border-radius: 0;
    font-weight: bold;
    color: #333333;
}

.tabs-container .tabs-left > .nav-tabs li:hover a.venue_a {
    background-color: #fff;
    border-left: 4px solid #3385ff;
    color: #3385ff;
}

.tabs-container .tabs-left > .nav-tabs li.active a.venue_a {
    background-color: #fff;
    border-left: 4px solid #3385ff;
    color: #3385ff;
}

.tabs-container .tabs-left > .nav-tabs > li > a.venue_a {
    margin-right: -1px;
    border-radius: 0px 0 0 0px;
}

footer {
    width: 100%;
    height:46px;
    line-height: 22px;
    color: #555555;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    background-color: #fff;
    position: relative;
    bottom: -48px;
    /*top: 20px;*/
}

.modalBox {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.text-nowrap-ellipsis {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}