body, table {
    font-size: 12px;
}

/* 画布保存 */
.icon-saveCanvas {
    background: url(../images/commit.png) no-repeat;
}

/**查询**/
.icon-search {
    background: url(../images/search.png) no-repeat;
}

/* 导出 */
.icon-expBig {
    background: url(../images/expBig.png) no-repeat;
}

/* 添加 */
.icon-addBig {
    background: url(../images/addBig.png) no-repeat;
}

/* 编辑 */
.icon-editBig {
    background: url(../images/editBig.png) no-repeat;
}

/* 保存业务 */
.icon-saveBus {
    background: url(../images/saveBus.png) no-repeat;
}

/* 刷新 */
.icon-refreshBig {
    background: url(../images/refreshBig.png) no-repeat;
}

/* 删除 */
.icon-deleteBig {
    background: url(../images/deleteBig.png) no-repeat;
}

/* 选择 */
.icon-select16 {
    background: url(../images/Select16.png) no-repeat;
}

/* 移动 */
.icon-move16 {
    background: url(../images/move16.PNG) no-repeat;
}

/* 创建处理节点 */
.icon-handle16 {
    background: url(../images/handle16.png) no-repeat;
}

/* 创建状态节点 */
.icon-event16 {
    background: url(../images/event16.png) no-repeat;
}

/* 创建分支节点*/
.icon-split16 {
    background: url(../images/split16.png) no-repeat;
}

/* 创建节点连接 */
.icon-arrow16 {
    background: url(../images/arrow16.png) no-repeat;
}

.icon-startInst {
    background: url(../images/transmit.gif) no-repeat;
}

.icon-instDetail {
    background: url(../images/flow.png) no-repeat;
}

/**查询参数设置**/
.icon-grid_queryParams {
    background: url(../images/event16.png) no-repeat;
}


