*{
	margin: 0 auto;
	padding: 0;
}
BODY {
	FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
#leftmenu P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
#container P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.cl {
	CLEAR: both; DISPLAY: none; HEIGHT: 0px
}
TD {
	VERTICAL-ALIGN: top
}
.onoff {
	MARGIN-TOP: 0px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 2px; HEIGHT: 18px
}
#tishi {
	Z-INDEX: 1; BACKGROUND: url(/img/tishi.gif); FILTER: alpha(opacity=90); LEFT: 0px; WIDTH: 94px; COLOR: #000000; POSITION: absolute; TOP: 25px; HEIGHT: 21px; moz-opacity: 0.9; opacity: 0.9
}
.stowajax {
	BACKGROUND: url(/img/ts_ico.gif) no-repeat 0px 0px; TEXT-INDENT: 88px; LINE-HEIGHT: 70px; HEIGHT: 81px; TEXT-ALIGN: left
}
.stowajax A {
	COLOR: #19489e
}
.headline {
	BACKGROUND: #f8f8f8; MARGIN-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: #e6e6e6 2px solid; HEIGHT: 22px; TEXT-ALIGN: center
}
.headl_b {
	FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
.headl_l {
	BACKGROUND: url(/img/news.gif) no-repeat 0px 2px; FLOAT: left; TEXT-INDENT: 10px
}
.headl_r {
	FLOAT: right; COLOR: #666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.headline A {
	FONT-SIZE: 12px; MARGIN: 0px 3px; COLOR: #666; TEXT-DECORATION: none
}
.headline A:hover {
	BACKGROUND: #929292; COLOR: #fff
}
.nav_jptj {
	BACKGROUND: #000000
}
#header {
	MARGIN: 0px auto 5px; WIDTH: 960px; HEIGHT: 60px
}
#header .logo {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; WIDTH: 244px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#header .logo IMG {
	VERTICAL-ALIGN: top; HEIGHT: 60px
}
A.search {
	COLOR: #489f19
}
#m_nav {
	BORDER-RIGHT: #333 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #333 1px solid; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #333 0px solid; WIDTH: 115px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #333 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; TEXT-ALIGN: left
}
#m_nav1 {
	BORDER-RIGHT: #333 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #333 1px solid; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #333 0px solid; WIDTH: 115px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #333 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; TEXT-ALIGN: left
}
#m_nav LI {
	CLEAR: left; BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; FILTER: Alpha(Opacity=90); FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #eee 1px solid; WIDTH: 115px; PADDING-TOP: 0px; BORDER-BOTTOM: #eee 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 24px; Moz-Opacity: 0.9
}
#m_nav1 LI {
	CLEAR: left; BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; FILTER: Alpha(Opacity=90); FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #eee 1px solid; WIDTH: 115px; PADDING-TOP: 0px; BORDER-BOTTOM: #eee 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 24px; Moz-Opacity: 0.9
}
#m_nav LI A {
	DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; COLOR: #333; BORDER-TOP-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 24px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
#m_nav1 LI A {
	DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; COLOR: #333; BORDER-TOP-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 24px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
#m_nav LI A:visited {
	DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; COLOR: #333; BORDER-TOP-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 24px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
#m_nav1 LI A:visited {
	DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; COLOR: #333; BORDER-TOP-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 24px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
#m_nav LI A:link {
	DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; COLOR: #333; BORDER-TOP-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 24px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
#m_nav1 LI A:link {
	DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: normal; COLOR: #333; BORDER-TOP-STYLE: none; LINE-HEIGHT: 24px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 24px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
#m_nav LI A:hover {
	BACKGROUND: #333; COLOR: #ffffff
}
#m_nav1 LI A:hover {
	BACKGROUND: #333; COLOR: #ffffff
}
.head_ad {
	DISPLAY: none; WIDTH: 0px
}
.head_right {
	BACKGROUND: #fff; FLOAT: right; WIDTH: 468px; HEIGHT: 60px
}
.head_right A {
	COLOR: #6e6e6e
}
.top_ad {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 5px; MARGIN: 2px auto; BORDER-LEFT: #ddd 1px solid; WIDTH: 958px; PADDING-TOP: 0px; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: left
}
.top_ad IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.arcgg {
	DISPLAY: block; TEXT-ALIGN: center
}
.list_topad {
	DISPLAY: none; BACKGROUND: #fafafa; MARGIN: 5px 0px; HEIGHT: 90px; TEXT-ALIGN: left
}
#list_containers {
	BORDER-TOP: #ddd 0px solid
}
#menu {
	CLEAR: both; Z-INDEX: 10; ba BACKGROUND: blue ; MARGIN: 0px auto; WIDTH: 100%; FONT-FAMILY: ����; POSITION: relative; HEIGHT: 55px
}
.topmenu {
	DISPLAY: inline; FLOAT: left; MARGIN: 7px 0px 0px; WIDTH: 100%; POSITION: relative; HEIGHT: 20px
}
.topmenu DT {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -2px; LINE-HEIGHT: 15px; PADDING-TOP: 0px
}
.topmenu DT .menu_first {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.topmenu DT .menu_end SPAN {
	FONT-WEIGHT: bold
}
#menu SUP {
	CLEAR: left; BACKGROUND-POSITION: 0px 0px; DISPLAY: block; RIGHT: 9px; BACKGROUND-IMAGE: url(../img/ico3.gif); WIDTH: 19px; TEXT-INDENT: -18817px; POSITION: absolute; TOP: -13px; HEIGHT: 15px
}
.topmenu DT A {
	DISPLAY: block; FLOAT: left; WIDTH: 68px; COLOR: #000; HEIGHT: 15px
}
.topmenu DT A.selected {
	FONT-WEIGHT: bold; BACKGROUND: url(../img/menu.jpg) no-repeat 0px -73px; COLOR: #225099; HEIGHT: 15px
}
.topmenu DT A:hover {
	TEXT-DECORATION: none
}
.topmenu DD {
	LEFT: 5px; POSITION: absolute; TOP: 20px
}
.topmenu UL {
	OVERFLOW: hidden
}
.topmenu LI {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 12px; BACKGROUND: url(../img/bar_headermenu.gif) no-repeat 0px 1px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px -2px; PADDING-TOP: 0px
}
.topmenu LI A {
	DISPLAY: block; COLOR: #000; BORDER-BOTTOM: #f1f1f1 2px solid
}
.topmenu LI.selected {
	PADDING-RIGHT: 11px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: #26519a; PADDING-TOP: 0px
}
.topmenu LI.selected A {
	COLOR: #19489e; BORDER-BOTTOM: #26519a 2px solid; TEXT-DECORATION: none
}
.topmenu LI A:hover {
	COLOR: #19489e; BORDER-BOTTOM: #26519a 2px solid; TEXT-DECORATION: none
}
.toolsdh {
	RIGHT: -95px; CURSOR: pointer; POSITION: absolute; TOP: -4px
}
.topmenu DIV.toolsdh A:hover {
	BORDER-BOTTOM-WIDTH: 0px
}
.undis {
	DISPLAY: none
}
.maintable {
	MARGIN: 5px auto 0px; WIDTH: 960px; BORDER-COLLAPSE: collapse
}
.page_list {
	CLEAR: left; PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; MARGIN: 10px 3px 20px; PADDING-TOP: 10px; FONT-FAMILY: Tahoma; TEXT-ALIGN: center
}
.page_list A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.page_list .current {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.page_list .disabled {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.page_list .pageinfo {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.page_list A:hover {
	COLOR: #690; BORDER-BOTTOM: #690 2px solid; TEXT-DECORATION: none
}
.page_list .disabled {
	COLOR: #333
}
.page_list .current {
	FONT-WEIGHT: bold; COLOR: #690; BORDER-BOTTOM: #690 2px solid
}