<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- <mapper>
  <cache-ref namespace=""/>
</mapper> -->
<mapper namespace="mapper.BookOrderMapper">
		
	
	<select id="selectBookOrderCount" resultType="int">
		select count(*) from orders B left join customer C on B.CUSTOMER=C.COMPANYID where B.order_status<![CDATA[<]]>11 and B.createPerson=#{staffCode}
		
		<!-- <where>
  			<include refid="query_user_where"></include>
  		</where> -->
	</select>
	<select id="isCanBookMapper" resultType="int">
		select count(*) from ORDERS t where t.createperson=#{staffCode} and t.upload_date &lt;= #{systemTime} and book_status='13' 
	</select>
	
	

	
	<select id="selectBookOrderList" resultType="com.wl.forms.Order">
			
		 select * from orders a  
		 left join customer b on a.CUSTOMER=b.COMPANYID <!-- left join dept c on b.DEPT_USER=c.deptid  -->
		 where a.book_status>0 and a.book_status like '%${bookStatus}%' and a.customer like '%${companyId}%' 
		  		and a.createperson like '%${staffCode}%' and a.order_Id like '%${orderId}%'
	</select>
	
	<select id="selectBookOrderList1" resultType="com.wl.forms.Order">
		<!-- select * from orders e where  e.book_status='12' and e.order_id in
		(select distinct order_id 
		from (select a.order_id,c.machineid from orders a 
		left join (select b.orderid, machineId from   BOOKINGINFO b  group by machineId,orderId) c 
		on a.order_id=c.orderid  where c.machineid
		 in(select f.machine_id from machineManager f where f.machine_manager_id='70205886') ) g) --> 		
		
		select * from orders e where e.book_status=#{bookStatus} and e.order_id in
		(select distinct order_id 
		from (select a.order_id,c.machineid from orders a 
		left join (select b.orderid,  machineId from   BOOKINGINFO b  group by machineId,orderId) c 
		on a.order_id=c.orderid  where c.machineid
		in(select f.machine_id from machineManager f where f.machine_manager_id=#{staffCode}) ) g) 

	</select>
	
	<select id="selectBookOrderListToo" resultType="com.wl.forms.Order">
			
		 select * from orders a  left join customer b on a.CUSTOMER=b.COMPANYID <!-- left join dept c on b.DEPT_USER=c.deptid  -->
		  where a.book_status>0 and (a.book_status like '%${bookStatus}%' or a.book_status = '15') 
		  and a.customer like '%${companyId}%' and a.createperson like '%${staffCode}%' and a.order_Id like '%${orderId}%'
	   
	</select>
	
	
	
	<!--  -->
	
	<!-- <sql id="query_user_where">
		orders.order_status<![CDATA[ < ]]>11
	</sql> -->
	  
	<select id="selectBookOrderMachineListByOrderId" resultType="javaBean.BookOrderMachine">
		select * from bookingINfo A left join machinfo B on a.machineid=b.machineid  left join orders D on d.order_id=A.orderID where orderId=#{orderId} <!-- and a.is_pass !='否' -->
	</select>
	
	<select id="selectBookOrderMachineListByOrderId1" resultType="javaBean.BookOrderMachine">
		select * from bookingINfo A left join machinfo B on a.machineid=b.machineid  left join orders D on d.order_id=A.orderID where orderId=#{orderId}  and  a.machineid in
(select c.machine_id from MACHINEMANAGER c where  c.machine_manager_id=#{staffCode})
	</select>
	
	 
	<!-- 返回已完成订单的list -->
	
	
		<select id="completedBookMapper" resultType="javaBean.BookOrderMachine">
		select * from Bookinginfo_Completed A left join machinfo B on a.machine_id=b.machineid left join orders D on d.order_id=A.order_ID  where a.order_Id=#{orderId}
	</select>
	
	
	<select id="AuditingBookUpdateStatusMapper" resultType="com.wl.forms.Order">
			select A.*,b.*,C.*,d.staff_Name completed_staff_name,e.companyName  from Orders A  
			left join ORDERBOOKSTATUS B on a.book_Status=B.bookStatus 
			left join EMPLOYEE_INFO C on c.staff_code=A.auditing_staff_code 
			left join EMPLOYEE_INFO d on d.staff_code=A.completed_staff_code 
			left join customer e on e.companyId=a.customer 
			where order_id =#{orderId}
	</select>
	<!-- 这个是修改后的预约审核意见的和审核人的反馈 -->
	<select id="AuditingBookUpdateStatusMapper1" resultType="com.wl.forms.OrdersMachinesAudits">
			select t.order_id,t.machine_id ,t.yes_no,t.audit_person,a.machinename,b.staff_name ,(case when  t.audit_person is null then '' else CONCAT('已审核，意见为：',t.advice） end) as advice  from ORDERSMACHINESAUDITS t  
      left Join machinfo  a on a.machineid=t.machine_id  left join employee_info b on b.staff_code=t.audit_person where  t.order_id=#{orderId}
	</select> 
	 
<!-- 	 <select id="getLeftJoinMap"  resultMap="leftJoinMap">
        select a.order_id,a.customer,b.companyId,b.companyName from orders a left join customer b on a.customer=b.companyId left join employee_info
    </select> -->

    <!-- resultMap中的type表示返回什么类型的对象 -->
<!--     <resultMap type="com.wl.forms.Order" id="leftJoinMap">
        property 表示com.mybatis.bean.StudentTemp中的属性； column 表示表中的列名
        <id property="orderId" column="order_id" />
        <result property="customer" column="customer" />

        association字面意思关联，这里只专门做一对一关联； property表示是上面中的Order中的一个Customer类的属性，相当于嵌套属性了 
            javaType表示该属性是什么类型对象
        <association property="employee" javaType="com.wl.forms.Employee">这个最重要，其他的只要名字没有不同，就不要自己进行转换了；所以尽量实体类要和数据库列相同
            property 表示com.mybatis.bean.Class中的属性； column 表示表中的列名
            <id property="staffCode" column="staff_code" />
            
        </association>
    </resultMap> -->
	
	
	
	
	<delete id="noPassDeleteAuditingBookOrderMapper" >
          delete from bookingInfo   where orderId=#{orderId}     
     </delete>
	<delete id="noPassDeleteAuditingBookOrderMapper13" >
          delete from bookingInfo   where orderId=#{orderId}  and machine_Id=#{machineId}   
     </delete>
     
     
     
     
	<select id="loadDefaultShiYanOrder" resultType="com.wl.forms.Customer">
			select * from customer A   where staffcode =#{staffCode}
	</select>
	
	
	<resultMap id="bookOrder" type="com.wl.forms.Order">
        
        <result column="machineName" property="machineName" />
        <result column="time_ymd" property="timeYmd" />
        <result column="startTimeInfo" property="endTimeInfo" />
        <result column="bookState" property="bookState" />
    </resultMap>
    

    
    <update id="updateAuditingBookStatus" >
          update orders 
        	set book_Status=#{bookStatus} ,auditing_staff_code=#{auditingStaffCode},checkAdvice=#{checkAdvice}
         where order_Id=#{orderId}     
     </update>
     
     
     <update id="completedOrderAuditMapper" >
          update orders 
        	set book_Status=#{bookStatus} ,completed_staff_code=#{staffCode},completed_Advice=#{completedAdvice}
         where order_Id=#{orderId}     
     </update>
     
     
     <update id="deleteAuditingBookOrderMapper" >
          delete from bookingInfo  where unid=#{unid}     
     </update>
     
     <delete id="deleteAuditingOrderMapper" >
          update orders  set book_status='0' where order_id=#{orderId}     
     </delete>
     
     
     <delete id="deleteAuditingOrderbookingInfoMapper" >
          delete from bookingInfo  
         where orderId=#{orderId}     
     </delete>
    
    <insert id="insertAddShiYanOrder" >
	    	insert into orders (ORDER_ID,CUSTOMER,CREATEPERSON,CREATETIME,connector,connectorTel,book_status,order_name) 
	    	values (#{orderId,jdbcType=VARCHAR},#{customer,jdbcType=VARCHAR},#{staffCode,jdbcType=VARCHAR},to_date(#{createTime,jdbcType=VARCHAR},'yyyy-mm-dd,hh24:mi:ss'),#{connector,jdbcType=VARCHAR},#{connectorTel,jdbcType=VARCHAR},#{bookOrderStatus,jdbcType=VARCHAR},#{orderName,jdbcType=VARCHAR})
    	
    </insert>
    
    <update id="insertCompletedAuditerInfoMapper">
    	update orders set COMPLETED_STAFF_CODE = #{staffCode},completed_Advice=#{completedAdvice} where order_Id=#{orderId}
    </update>
   
    <update id="updateCompletedOrderInfoMapper">
   		update orders set book_Status =	#{bookStatus} where order_Id=#{orderId}
    </update>
	
	
	     
     <delete id="deleteSelectedBookingInfo" >
          delete from bookingInfo  where  unid=#{unid}     
    </delete>
     <update id="deleteSelectedBookingInfoByAudit" >
          update bookingInfo  set is_pass='否' where  unid=#{unid}     
    </update>
	

    <insert id="saveCompletedBookingInfoMapper" >
    	insert into BOOKINGINFO_COMPLETED (unid,order_Id,start_time_info,end_time_info,machine_id,time_ymd<!-- ,COMPLETED_REMARKS -->) 
    	values (#{unid},#{orderId},#{startTimeInfo},#{endTimeInfo},#{machineID},#{timeYmd}<!-- ,#{completedRemarks} -->)
    </insert>
    <delete id="deleteCompletedBookingInfoMapper">
    	delete from BOOKINGINFO_COMPLETED where order_id=#{orderId}
    </delete>
    
    <select id="updateAuditsMapper"  resultType="com.wl.forms.Machine"> 
    	 select b.machineid,b.machinename from bookingINfo A left join machinfo B on a.machineid=b.machineid  left join orders D on d.order_id=A.orderID where orderId=#{orderId}  and  a.machineid in
			(select c.machine_id from MACHINEMANAGER c where  c.machine_manager_id=#{staffCode})
    </select>
    
    
    <delete id="deleteAuditingBookingAll13">
    	delete   from ORDERSMACHINESAUDITS t  where order_id=#{orderId} and machine_id=#{machineId}
    </delete>
    
    <insert id="updateAuditingBookingAll13">
    	insert into ORDERSMACHINESAUDITS t (order_ID,machine_Id,audit_person,advice,yes_no) values (#{orderId},#{machineId},#{staffCode},#{checkAdvice},#{isPass})
    	
    </insert>
    <update id="saveAuditAdviceServiceUpdateMapper">
    	update   BOOKINGINFO t set t.is_pass=#{isPass} ,t.is_pass_advice= #{isPassAdvice },t.audit_person= #{staffCode} where t.unid=#{unid}
    </update>
    
    <select id="selectBookOrderInfoIsPassCount" resultType="int">
    	select count(*) from BOOKINGINFO t where t.is_pass is null and t.orderid=#{orderId}
    </select>
    <update id="updateOrderStatus">
    	update  orders t set t.book_status=#{bookStatus}  where t.order_id=#{orderId}
    </update>
</mapper>

